.topBox {
  h1 {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        .userTexts {
          display: flex;
          gap: 5px;
          flex-direction: column;
          .username {
            font-size: 14px;
            font-weight: 500;
          }
          .email {
            font-size: 12px;
          }
        }
      }

      .amount {
        font-weight: 500;
      }
    }
  }
}
